body {
  margin: auto;
}

.maincontainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#top {
  background-color: grey;
  height: 30vh;
  width: 100vw;
}

#middle {
  align-self: flex-end;
  background-color: grey;
  height: 30vh;
  width: 25vw;
}

#bottom {
  background-color: grey;
  height: 30vh;
  width: 100vw;
}
