body {
  margin: auto;
}

.background {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(97, 91, 91);
  background-size: 100%;
  background-repeat: no-repeat;
}

nav {
  height: 20vh;
}

ul {
  list-style-type: none;
  margin: 0%;
}

li {
  color: lightblue;
  font-size: 2vw;
  padding: 3vw;
  float: right;
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
}

#fish {
  float: left;
  font-size: 5vw;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  font-size: large;
  text-align: center;
  color: chartreuse;
}

img {
  padding: 5vh;
  height: 30vh;
  position: relative;
  z-index: 0;
}

table {
  text-align: center;
  width: 100%;
  padding-bottom: 10vh;
}

button{
  border: none;
  height: 5vh;
  width: 10vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  background-color: lightskyblue;
}

td{
  text-align: center;
}

.icons{
  z-index: 1;
  font-size: 5vh;
  position: absolute;
  margin-top: 38vh;
  margin-left: 21vw;
  color: red;
}

.icontext{
  font-size: 1vh;
  z-index: 2;
  position: absolute;
  margin-top: 37vh;
  margin-left: 23.25vw;
  color: black;
}

.iconsborder{
  height: 10vh;
  width: 8vh;
}