{% extends 'base.html' %}
{% block body %}
    <br>
    <br>
<div class="container-fluid">
        <h2 style="color:white">All {{ nationality }}'s:</h2>
        <table class="table table-info table-striped">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone Number</th>
            </tr>
            {% for person in people %}
            <tr>
                <td>{{ person.name }}</td>
                <td>{{ person.email }}</td>
                <td>{{ person.address }}</td>
                <td>{{ person.phonenumbers.first().number }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}