{% extends 'base.html' %}
{% block content %}
    <div class="container w-50 mt-5 bg-dark text-center">
        <h3>Update Post</h3>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.title.label(class="text-center") }}
            {{ form.title(class="form-control form-control-lg") }}
            {{ form.content.label }}
            {{ form.content(class="form-control form-control-lg") }}
            <br>
            {{ form.card.label }}
            {{ form.card }}
            <div class="footer">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}