{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Yu-Gi-Oh Card Trading Area and Forum</h1>
        <div class="modal fade" id="createPostModal" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createPostModalLabel">Create Post</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {{ form.hidden_tag() }}
                            {{ form.title.label(class="text-center") }}
                            {{ form.title(class="form-control form-control-lg") }}
                            {{ form.content.label }}
                            {{ form.content(class="form-control form-control-lg") }}
                            {{ form.card }}
                            <div class="modal-footer">
                                {{ form.submit(class="btn btn-primary") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% if current_user.is_authenticated %}
            <a class="btn btn-primary float-end" data-bs-toggle="modal" href="#createPostModal" role="button">Create
                post</a>
        {% endif %}
        <div class="d-flex flex-column align-items-center justify-content-space-evenly text-center">
            {% for post in posts.items %}
                <article>
                    <div class="bg-dark m-3 border border-secondary rounded" style="width: 500px">
                        <div class="">
                            <h3>posted by {{ post.user.username }} <span class="text-muted"
                                                                         style="font-size: 0.4em">{{ post.date_posted.strftime('%Y-%m-%d %H:%M') }}</span>
                            </h3>
                            {% if post.sold %}
                                <div class="title"><h5><strike>{{ post.title }}</strike></h5></div>
                            {% else %}
                                <div class="title"><h5>{{ post.title }}</h5></div>
                            {% endif %}
                            {% if post.price %}
                                <div class="content"><p>price: {{ post.price }} <br> {{ post.content }}</p></div>
                            {% endif %}
                            <div><img src="{{ post.card }}" alt=""></div>
                            {% if post.user == current_user %}
                                <a class="btn btn-sm btn-outline-success m-1"
                                   href="{{ url_for('forum.edit', id=post.id) }}"
                                   role="button">edit</a>
                                <a class="btn btn-sm btn-outline-danger m-1"
                                   href="{{ url_for('forum.delete', id=post.id) }}">delete</a>
                                </div>
                            {% endif %}
                        <a class="btn btn-sm btn-outline-success m-1"
                           href="{{ url_for('forum.comment', id=post.id) }}"
                           role="button">Comment</a>
                        {% if current_user != post.user %}
                            {% if post.sold %}
                                <a class="btn btn-sm btn-outline-success m-1 disabled"
                                   href="{{ url_for('forum.buy', id=post.id) }}"
                                   role="button">Buy</a>
                            {% elif post.price %}
                                <a class="btn btn-sm btn-outline-success m-1"
                                   href="{{ url_for('forum.buy', id=post.id) }}"
                                   role="button">Buy</a>
                            {% endif %}
                            {#                            <a class="btn btn-sm btn-outline-danger m-1"#}
                            {#                               href="{{ url_for('forum.delete', id=post.id) }}">Make offer</a>#}
                        {% endif %}
                        <div>
                            <br>
                            <h5>comments</h5>
                            {% for comment in comments %}
                                {% if comment.post_id == post.id %}
                                    <div class="card mx-auto text-start bg-dark border-secondary rounded p-2"
                                         style="width: 18rem;">
                                        <h5>{{ comment.user.username }}:</h5>
                                        <p class="">
                                            {{ comment.content }}
                                        </p>
                                        <p style="font-size: 0.6em">
                                            date posted: {{ comment.date_posted.strftime('%Y-%m-%d %H:%M') }}
                                        </p>
                                    </div>
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="comments">
                    </div>
                </article>
            {% endfor %}
            <div>
                {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if posts.page == page_num %}
                            <a class="btn btn-info mb-4"
                               href="{{ url_for('forum.forum_home', page=page_num) }}">{{ page_num }}</a>
                        {% else %}
                            <a class="btn btn-outline-info mb-4"
                               href="{{ url_for('forum.forum_home', page=page_num) }}">{{ page_num }}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}</div>
        </div>
    </div>
{% endblock %}