body{
    margin: auto;
}

.maincontainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.top{
    width: 100vw;
    height: 10vh;
    background-color: grey;
}

.middle{
    width: 80vw;
    height: 60vh;
    background-color: grey;
}

.bottom{
    width: 100vw;
    height: 10vh;
    background-color: grey;
}